<!DOCTYPE html>
<html>
<head>
  <title>Add Product</title>

  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='add_product.css') }}">
</head>

<body>

<div class="bubble-bg"></div>

<div class="container">
<div class="card">

<h2>Add New Phone</h2>

<form method="post" action="/admin/add">

<input name="company" placeholder="Company table (samsung, apple...)" required>
<input name="phone_id" placeholder="Phone ID" required>
<input name="phone_name" placeholder="Phone Name" required>
<input name="ram" placeholder="RAM (4GB)" required>
<input name="storage" placeholder="Storage (128GB)" required>
<input name="battery" placeholder="Battery (5000mAh)" required>
<input name="os" placeholder="OS" required>
<input name="network" placeholder="Network (5G)" required>
<input name="front" placeholder="Front Camera" required>
<input name="rear" placeholder="Rear Camera" required>
<input name="price" placeholder="Price" required>

<button type="submit">Add Product</button>

</form>

<a href="/admin/dashboard" class="back-btn">⬅ Back</a>

</div>
</div>

<script>
const bg = document.querySelector('.bubble-bg');

for (let i = 0; i < 50; i++) {
  const span = document.createElement('span');

  const size = Math.random() * 60 + 10;
  const left = Math.random() * 100;
  const duration = Math.random() * 20 + 10;
  const delay = Math.random() * -30;

  span.style.width = size + "px";
  span.style.height = size + "px";
  span.style.left = left + "%";
  span.style.animationDuration = duration + "s";
  span.style.animationDelay = delay + "s";

  bg.appendChild(span);
}
</script>

</body>
</html>